body, .yatzyHeader{
	background-color: #40a35b;
}

.container-fluid{
	padding: 0;
}
.modal1{
	padding:0;
	margin:0;
}
.modal1 > button {
	width:100%;
}
.row {
	margin: 0;
}
/* position fix */
.ingame > div, .footer > div, .col-md-4{
	padding-left: 0;
	padding-right: 0;
}

.beforegame{
	border-top: 1px solid black;
}

.beforegame > div > p{
	margin-top: 10px;
}

.ingame{
	display: none;
}

.highscore{
	border-top: 4px solid black;
}

.nonBtn:hover, .nonBtn:focus {
	cursor: default;
	background-color: white;
}

.bgcolor {
	background-color: white;
	border-bottom: 1px solid black;
}

.dice-space {
	font-size:70px;
	line-height:50px;
	padding: 0;
	cursor:pointer;
}
.dice-space > img{
	height: 50px;
	margin-bottom: 10px;
}


.diceRow {
	margin:0;
	padding: 0;
}

.dice-wrapper {
	overflow:hidden;
	height:55px;
}


.table {
	margin: 0;
}

table, th, td {
	text-align: center;
}

.highlight {
	background-color: lightgray;
}

.high-player {
	background-color: #00dc5b;
}

.ybody {
	padding: 0;
}

@media only screen and (max-width : 480px) {
	/*.dice-space {
		font-size: 70px;
		line-height:35px;
		margin-top:-5px;
	}
	.dice-wrapper {
		margin-left:-30px;
	}
	*/
}

.fix-padding {
	padding:0 !important;
}

.yatzyHeader{

}
.yatzyHeader > div > img {
	height: 120px;
}

.table-footer {

}

.diceBtn {
	width: 100%;
	margin-bottom: 10px;
}

.fixed-container {
	position: fixed;
}

/* .margintop{
	margin-top: 20px;
} */

.marginbottom{
	margin-bottom: 20px;
}

.setMargin{
	margin: 20px;
}

#player-names li {
	padding: 5px 15px;
}
