body {
	background-color: crimson;
}

.list-group {
	display: inline-block;
	width: 50%;
	min-width: 150px;
}

.comboRow, .btn, .nameRow {
	height: 50px;
	min-height: 100%;
	float: left;
}

.nonBtn:hover {
	cursor:default;
	background-color: white;
}

.nonBtn:focus {
	background-color: white;
}

.pl1 {
	background-color: blue;
}

header {
	background-color: white;
	text-align: center;
}

.dice-space {
	font-size:90px;
	line-height:40px;
	padding: 0 25px 0 25px;
}

.diceRow, .dice-space {
	height:100%;
	margin: 0;
}


.diceRow {
	text-align: center;
	width:100%;
	padding:20px 0 !important;
}

.dice-wrapper {
	overflow:hidden;
	height:55px;
}

.dice-space {
	cursor:pointer;
	margin-top:-4px;
}

.table {
	margin: 0;
}

th, td {
	text-align: center;
}

@media only screen and (max-width : 480px) {
	.dice-space {
		font-size: 70px;
		line-height:35px;
		margin-top:-5px;
	}
	.dice-wrapper {
		margin-left:-30px;
	}
}

.fix-padding {
	padding:0 !important;
}

.yatzyHeader .title {
	background-color:white;
	text-align: center;
}

.diceBtn {
	width: 100%;
}