body {
	background-color: white;
	padding-top: 100px;
}
header{ 
	padding: 0 20px;
	background: white;
}
.container {
	z-index: 2;
}
.brd {
	border: 1px solid black;
}
#playBoard{
	padding: 0;
	height: 900px;
	background-color: #5b9c5c;
	border-radius: 25px;
    border: 3px solid black;
}
#playBoard img{
		width: 100%;
	}
#playScore.list-group{
	padding: 0;
	margin: 0;
}
#playCombinations{
	padding: 0;
}

.list-group-item.comb, .list-group-item.combTitle{
	margin-top: 5px;
	border-radius: 5px;
	min-height: 40px;
	padding: 5px 10px;
}
.list-group-item.comb{
	background: #ddd;
}
.list-group-item.combTitle{
	background: #555;
	color: white;
}
.list-group-item.cTotal {
	border-radius: 0;
	border: 1px solid black;
}
.dice{
	padding: 0;
}
.dice-small{
	max-width: 25px;
}
.dice-big{
	max-width: 50px;
}
.dice img {
	width: 100%;
}
